@import url('https://fonts.googleapis.com/css2?family=Anton&family=Instrument Serif:ital,wght@0,100..900;1,100..900&display=swap');

.app {
  min-height: 100vh;
  position: relative;
  z-index: 0;
  isolation: isolate;
}

.app__page {
  min-height: 100vh;
  overflow: visible;

  transition:
    transform 0.5s cubic-bezier(0.22, 1, 0.36, 1),
    width 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.app--menu-open .app__page {
  transform: translateX(280px);
}