.app {
  min-height: 100vh;
}

.app__page {
  min-height: 100vh;

  transition:
    transform 0.5s cubic-bezier(0.22, 1, 0.36, 1),
    width 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.app--menu-open .app__page {
  transform: translateX(280px);
}